[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/catch2"]
	path = thirdparty/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "thirdparty/immer"]
	path = thirdparty/immer
	url = https://github.com/arximboldi/immer.git
[submodule "thirdparty/magic_enum"]
	path = thirdparty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "toolchain/vcpkg"]
	path = toolchain/vcpkg
	url = git@github.com:nvoronetskiy/vcpkg.git
